.content-block__result-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: #212329;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 0 24px 0;
}


@media (max-width: 430px) {
  .content-block__result-title {
    font-size: 32px;
    line-height: 36px;
  }
}