.slidebar-list__item-icon {
    background-image: url(../../../images/icons/slide_down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 20px;
    height: 20px;
    transition: .2s;
}

.slidebar-list__item-icon_active {
    transform: rotate(180deg);
}