.card-list__tier {
	font-family: Golos, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    padding: 0px 8px;
    background: #E6E7EB;
    border-radius: 16px;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
    margin-top: 16px;
}

@media (max-width: 1184px) {
	.card-list__tier {
		margin-top: 12px;
	}
}
