.page {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fcfcfc;
    font-family: "Golos", "Arial", sans-serif;
}



.button__forward {
    width: 184px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #ff6600;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.test__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #212329;
    margin: 0;
    padding-bottom: 32px;
}






.arrow__back {
    margin-left: 8px;
}
