.content-block__icon-circulation {
  flex-shrink: 0;
  margin: 0 8px 0 0;
  width: 24px;
  height: 24px;
  display: block;
  background: url(../../../images/icons/circulation_black.svg) no-repeat center;
}