/* кнопка завершить  */
.button__test-5 {
    width: 184px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid #FF6600;
    background: #FF6600;
    color: #fff;
    border-radius: 16px;
    padding: 12px 24px;
  }
  
  /* кнопка перездать - с круговой стрелкой */
  .button__test-4 {
    width: 184px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid #FF6600;
    background: #FF6600;
    color: #fff;
    border-radius: 16px;
    padding: 12px 24px;
  }
  
  /* кнопка начат тест - с круговой стрелкой */
  .button__test-3 {
    width: 184px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid #FF6600;
    background: #FF6600;
    color: #fff;
    border-radius: 16px;
    padding: 12px 24px;
  }
  
  .arrow__circle {
    margin-right: 8px;
  }
  
  /* кнопка начат тест - серая */
  .button__test-2 {
    width: 184px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF6600;
    color: #ffffff;
    border: none;
    border-radius: 16px;
    padding: 12px 24px;
  }
  
  /* Перездать белая с круговой стрелкой оранж */
  .button__test-1 {
    width: 184px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid #E6E7EB;
    background: #fff;
    color: #FF6600;
    border-radius: 16px;
    padding: 12px 24px;
  }
  
  /* кнопка начать тест ораньжевая */
  .button__test {
    width: 184px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid #FF6600;
    background: #FF6600;
    color: #fff;
    border-radius: 16px;
    padding: 12px 24px;
  }
  
  /* кнопка со стрелков в право - Далее */
  .button__forward {
    width: 184px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #FF6600;
    color: #ffffff;
    border: none;
  }

  .button__result {
    width: 224px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }

  .button__disabled {
    border: 1.2px solid #E6E7EB;
    background: #E6E7EB;
    color: #9397A3;
  }
  
  /* кнопка со стрелков в лево - Назад */
  .button__back {
    width: 184px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid #E6E7EB;
    color: #FF6600;
    background: #fff;
  }
  
  
  .arrow__forward {
    margin-right: 8px;
  }
  
  .arrow__back {
    margin-left: 8px;
  }
  
  .button__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }