.page {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fcfcfc;
}

.header {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 0px 4px 16px rgba(231, 232, 235, 0.6);
    max-height: 72px;
    display: flex;
    justify-content: space-between;
}

.header__title {
    margin: 24px 0 24px 60px;
}

.header__nav {
    margin: 24px 60px 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: 242px;
}

.header__link {
    text-decoration: none;
    color: #212329;
}

.nav__item {
    display: flex;
    flex-direction: row;
}

.nav__item-title {
    margin: 0;
}
.nav__item-icon {
    margin-right: 10px;
}

.content {
    margin: 32px 60px 0 60px;
    display: flex;
    justify-content: space-between;
}

.content__frame {
    height: 580px;
    width: 872px;
    box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 0px 4px 16px rgba(231, 232, 235, 0.6);
    border-radius: 16px;
    margin-right: 24px;
}

.slidebar {
    max-width: 424px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 0px 4px 16px rgba(231, 232, 235, 0.6);
    border-radius: 16px;
}
.slidebar__list {
    padding: 0;
    max-width: 360px;
    margin: 0 32px 0 32px;
}

.slidebar__title {
    max-width: 360px;
    max-height: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0 32px 0 32px;
    padding: 32px 0 33px 0;
    width: 360px;
}

.slidebar__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #e6e7eb;
}

.list-item__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}

.list-item__title {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding-bottom: 32px;
    max-width: 328px;
}
.list-item__icon {
    background-image: url(/images/icons/slide_down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.items__list {
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

.items__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.item__icon {
    width: 20px;
    height: 20px;
    background-image: url(/images/icons/green_ok_label.svg);
    margin-right: 10px;
}

.item__text {
    margin: 0;
}
