.button_arrow_back-orang {
  background-image: url('../../../images/icons/nav_hand_left_orng.svg');
  background-repeat: no-repeat;
  background-position: 50px center;
  border: 1.2px solid var(--bone);
  padding: 12px 48px 12px 80px;
}