.button_arrow_forward-grey {
  background-image: url('../../../images/icons/nav_hand_right_grey.svg');
  background-repeat: no-repeat;
  background-position: 116px center;
  border: 1.2px solid var(--bone);
  padding: 12px 80px 12px 48px;
}