.button_arrow_circle-white {
  width: 176px;
  background-image: url('../../../images/icons/circulation_white.svg');
  background-repeat: no-repeat;
  background-position: 25px center;
  border: 1.2px solid var(--orange);
  padding: 12px 24px 12px 56px;
}