.button__arrow_forward-white {
  flex-shrink: 0;
  background-image: url('../../../../images/icons/nav_hand_right_white.svg');
  background-repeat: no-repeat;
  background-position: 116px center;
  border: 1.2px solid #E6E7EB;
  padding: 12px 80px 12px 48px;
}