.button__arrow_forward-white {
  background-image: url('../../../../images/icons/nav_hand_right_white.svg');
  background-repeat: no-repeat;
  background-position: 116px center;
  background-color: #FF6600;
  border: 1.2px solid #FF6600;
  padding: 12px 80px 12px 48px;
}