.aside__accordion-item-toggler {
	background-image: url(../../../images/sidebar_close-option.svg);
	background-repeat: no-repeat;
	background-position: center;
	object-fit: contain;
	width: 10px;
	height: 6px;
}
