.buttons__btn-forward {
    width: 184px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #FF6600;
    color: #ffffff;
    border: none;
}