.sidebar__order-text {
    margin: 0;
    max-width: 328px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #212329;
}

@media screen and (max-width: 1400px) {
    .sidebar__order-text {
        width: 100%;
        max-width: initial;
    }
}

@media screen and (max-width: 420px) {
    .sidebar__order-text {
        max-width: 230px;
    }
}