.sidebar-content__order-icon {
    display: block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    transition: .2s;
    background: url('../../../images/icons/slide_down.svg') no-repeat;
}
