.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 72px;
  padding: 24px 60px;
}

@media (max-width: 590px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 24px 30px;
  }
}