.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 
    0px 4px 16px rgba(231, 232, 235, 0.6);
  min-height: 72px;
  padding: 24px 60px;
}

@media (max-width: 590px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 24px 30px;
  }
}