.item__icon {
    width: 20px;
    height: 20px;
    background-image: url("./../../../images/icons/green_ok_label.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}