.menu__link {
	text-decoration: none;
	font-family: Golos, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #212329;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-block-start: 0;
	margin-block-end: 0;
}

.menu__link:hover {
	cursor: pointer;
	opacity: 0.8;
}

