.header__link {
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: var(--black);
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.header__link:hover {
	opacity: 0.8;
	transition: opacity 0.2s linear;
}

@media (max-width: 590px) {
	.header__link {
		margin-bottom: 30px;
	}
}
