.aside__filter-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-top: 1px solid #e6e7eb;
	padding-top: 32px;
}

.aside__filter-block:not(:last-child) {
	border-bottom: 1px solid #e6e7eb;
	padding-bottom: 33px;
}

@media (max-width: 1024px) {
	.aside__filter-block:not(:last-child) {
		border-bottom: none;
	}
}
