.content-block__button-header {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #212329;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: border-bottom .3s linear;
}

.content-block__button-header:hover {
  border-bottom: 1px solid #212329;
}