.aside__deselect-option {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
