.slidebar__title {
    max-width: 360px;
    max-height: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0 32px 0 32px;
    padding: 32px 0 33px 0;
    width: 360px;
}