.card-list__time {
	font-family: Golos, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
    padding: 0;
}


@media (max-width: 768px) {
	.card-list__time {
		font-size: 14px;
	}
}
