.content-block__about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0px 0px 4px rgb(231 232 235 / 60%), 0px 4px 16px rgb(231 232 235 / 60%);
  padding: 32px;
}