.video__loading {
    width: 468px;
    background: -webkit-linear-gradient(left, var(--orange) 0%, var(--orange) 0%, var(--silver) 0%, var(--silver));
}

.video__loading::-moz-range-track {
    width: 468px;
    background: -webkit-linear-gradient(left, var(--orange) 0%, var(--orange) 0%, var(--silver) 0%, var(--silver));
}

@media screen and (max-width: 800px) {
    .video__loading {
        width:75%;
        margin-top: 20px;
    }
    .video__loading::-moz-range-track {
        width:75%
    }
}
