.personal-info__input {
	margin: 0;
	padding: 0;
	margin-top: 8px;
	height: 48px;
	max-width: 100%;
	padding: 12px 16px;
	box-sizing: border-box;
	border: none;
	outline: 1.2px solid #e6e7eb;
	border-radius: 16px;
}

.personal-info__input:focus {
	outline: 1.2px solid #ff6600;
}

.personal-info__input:invalid:required {
	background-color: rgba(255, 102, 0, 0.1);
}

.personal-info__input:invalid {
	background-color: rgba(255, 102, 0, 0.1);
}
