@import url('../vendor/normalize.css');
@import url('../vendor/font.css');
@import url('../blocks/page/page.css');
@import url('../blocks/content/content.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/menu/menu.css');
@import url('../blocks/menu/__list/menu__list.css');
@import url('../blocks/menu/__list-item/menu__list-item.css');
@import url('../blocks/menu/__link/menu__link.css');
@import url('../blocks/menu/__icon/menu__icon.css');
@import url('../blocks/sidebar/sidebar.css');
@import url('../blocks/sidebar/__order-body/sidebar__order-body.css');
@import url('../blocks/sidebar/__order-icon/sidebar__order-icon.css');
@import url('../blocks/sidebar/__order-icon/_active/sidebar__order-icon_active.css');
@import url('../blocks/sidebar/__order-item/sidebar__order-item.css');
@import url('../blocks/sidebar/__order-list/sidebar__order-list.css');
@import url('../blocks/sidebar/__order-text/sidebar__order-text.css');
@import url('../blocks/sidebar/__title/sidebar__title.css');
@import url('../blocks/sidebar/__under-icon/sidebar__under-icon.css');
@import url('../blocks/sidebar/__under-icon/_test/sidebar__under-icon_test.css');
@import url('../blocks/sidebar/__under-icon/_video-target/sidebar__under-icon_video-target.css');
@import url('../blocks/sidebar/__under-item/sidebar__under-item.css');
@import url('../blocks/sidebar/__under-list/sidebar__under-list.css');
@import url('../blocks/sidebar/__under-list/_visible/sidebar__under-list_visible.css');
@import url('../blocks/sidebar/__under-text/sidebar__under-text.css');
@import url('../blocks/sidebar/__under-text/_target/sidebar__under-text_target.css');

@import url('../blocks/content-wrapper/content-wrapper.css');
@import url('../blocks/content-block/content-block.css');
@import url('../blocks/content-block/__header/content__header.css');
@import url('../blocks/content-block/__title/content-block__title.css');
@import url('../blocks/buttons/buttons.css');