@import url('../vendor/normalize.css');
@import url('../vendor/font.css');
@import url('../blocks/page/page.css');
@import url('../blocks/content/content.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/menu/menu.css');
@import url('../blocks/menu/__list/menu__list.css');
@import url('../blocks/menu/__list-item/menu__list-item.css');
@import url('../blocks/menu/__link/menu__link.css');
@import url('../blocks/menu/__icon/menu__icon.css');

@import url('../blocks/breadcrumbs/breadcrumbs.css');
@import url('../blocks/breadcrumbs/__list/breadcrumbs__list.css');
@import url('../blocks/breadcrumbs/__item/breadcrumbs__item.css');
@import url('../blocks/breadcrumbs/__link/breadcrumbs__link.css');
@import url('../blocks/breadcrumbs/__text/breadcrumbs__text.css');
@import url('../blocks/breadcrumbs/__image/breadcrumbs__image.css');