@import "../vendor/normalize.css";
@import "../blocks/page/page.css";
@import "../blocks/header/header.css";
@import "../blocks/header/__title/header__title.css";
@import "../blocks/nav/nav.css";
@import "../blocks/nav/__item-link/nav__item-link.css";
@import "../blocks/content/content.css";
@import "../blocks/content/content-block.css";
@import "../blocks/nav/__item/nav__item.css";
@import "../blocks/nav/__item-title/nav__item-title.css";
@import "../blocks/nav/__item-icon/nav__item-icon.css";
@import "../blocks/slidebar/slidebar.css";
@import "../blocks/slidebar/__title/slidebar__title.css";
@import "../blocks/slidebar/__list/slidebar__list.css";
@import "../blocks/slidebar/__list-item/slidebar__list-item.css";
@import "../blocks/list-item/__title/list-item__title.css";
@import "../blocks/list-item/__header/list-item__header.css";
@import "../blocks/list-item/__icon/list-item__icon.css";
@import "../blocks/items/__container/items__container.css";
@import "../blocks/item/__icon/item__icon.css";
@import "../blocks/items/__list/items__list.css";
@import "../blocks/item/__text/item__text.css";
@import "../blocks/item/__icon/_target/item__icon_target.css";
@import "../blocks/item/__icon-video/item__icon-video.css";
@import "../blocks/items/__list/_active/items__list_active.css";
@import "../blocks/list-item/__icon/_active/list-item__icon_active.css";
@import "../blocks/item/__text/_target/item__text_target.css";
@import "../blocks/breadcrumb/breadcrumb.css";
@import "../blocks/breadcrumb/__title/_active/breadcrumb__title_active.css";
@import "../blocks/breadcrumb/__container/breadcrumb__container.css";
@import "../blocks/buttons/__text/buttons__text.css";
@import "../blocks/buttons/__btn-back/buttons__btn-back.css";
@import "../blocks/buttons/__arrow-forward/buttons__arrow-forward.css";
@import "../blocks/buttons/__arrow-back/buttons__arrow-back.css";
@import "../blocks/buttons/__container/buttons__container.css";
@import "../blocks/buttons/__btn-forward/buttons__btn-forward.css";
@import "../blocks/buttons/buttons.css";