@import url('../vendor/normalize.css');
@import url('../vendor/font.css');
@import url('../blocks/page/page.css');
@import url('../blocks/content/content.css');

/* Header */
@import url('../blocks/header/header.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/menu/menu.css');
@import url('../blocks/menu/__list/menu__list.css');
@import url('../blocks/menu/__list-item/menu__list-item.css');
@import url('../blocks/menu/__link/menu__link.css');
@import url('../blocks/menu/__icon/menu__icon.css');

/* buttons */
@import url('../blocks/buttons/buttons.css');
@import url('../blocks/button/button.css');
@import url('../blocks/button/__arrow/_back-orang/button__arrow_back-orang.css');
@import url('../blocks/button/__arrow/_back-white/button__arrow_back-white.css');
@import url('../blocks/button/__arrow/_forward-white/button__arrow_forward-white.css');
@import url('../blocks/button/__arrow/_forward-grey/button__arrow_forward-grey.css');
@import url('../blocks/button/__arrow/_circle-orange/button__arrow_circle-orang.css');
@import url('../blocks/button/__arrow/_circle-white/button__arrow_circle-white.css');
@import url('../blocks/button/__color/_orang/button__color_orang.css');
@import url('../blocks/button/__color/_gray/button__color_gray.css');
@import url('../blocks/button/__text/_orang/button__text_orang.css');
@import url('../blocks/button/__text/_gray/button__text_gray.css');
@import url('../blocks/button/__text/_start/button__text_start.css');
@import url('../blocks/button/__text/_result/button__text_result.css');
@import url('../blocks/button/__text/_end/button__text_end.css');

/* breadcrumbs */
@import url('../blocks/breadcrumbs/breadcrumbs.css');
@import url('../blocks/breadcrumbs/__list/breadcrumbs__list.css');
@import url('../blocks/breadcrumbs/__item/breadcrumbs__item.css');
@import url('../blocks/breadcrumbs/__link/breadcrumbs__link.css');
@import url('../blocks/breadcrumbs/__text/breadcrumbs__text.css');
@import url('../blocks/breadcrumbs/__image/breadcrumbs__image.css');

/* sidebar */
@import url('../blocks/sidebar-content/sidebar-content.css');
@import url('../blocks/sidebar-content/__order-body/sidebar-content__order-body.css');
@import url('../blocks/sidebar-content/__order-icon/sidebar-content__order-icon.css');
@import url('../blocks/sidebar-content/__order-icon/_active/sidebar-content__order-icon_active.css');
@import url('../blocks/sidebar-content/__order-item/sidebar-content__order-item.css');
@import url('../blocks/sidebar-content/__order-list/sidebar-content__order-list.css');
@import url('../blocks/sidebar-content/__order-text/sidebar-content__order-text.css');
@import url('../blocks/sidebar-content/__title/sidebar-content__title.css');
@import url('../blocks/sidebar-content/__under-icon/sidebar-content__under-icon.css');
@import url('../blocks/sidebar-content/__under-icon/_test/sidebar-content__under-icon_test.css');
@import url('../blocks/sidebar-content/__under-icon/_video-target/sidebar-content__under-icon_video-target.css');
@import url('../blocks/sidebar-content/__under-item/sidebar-content__under-item.css');
@import url('../blocks/sidebar-content/__under-list/sidebar-content__under-list.css');
@import url('../blocks/sidebar-content/__under-list/_visible/sidebar-content__under-list_visible.css');
@import url('../blocks/sidebar-content/__under-text/sidebar-content__under-text.css');
@import url('../blocks/sidebar-content/__under-text/_target/sidebar-content__under-text_target.css');
@import url('../blocks/sidebar-content/__under-icon/_test-target/sidebar-content__under-icon_test-target.css');
@import url('../blocks/sidebar-content/__under-icon/_lesson/sidebar-content__under-icon_lesson.css');
@import url('../blocks/sidebar-content/__under-icon/_webinar/sidebar-content__under-icon_webinar.css');

/* content-block */
@import url('../blocks/content-wrapper/content-wrapper.css');
@import url('../blocks/content-block/content-block.css');
@import url('../blocks/content-block/__header/content-block__header.css');
@import url('../blocks/content-block/__title/content-block__title.css');
@import url('../blocks/content-block/__text/content-block__text.css');
@import url('../blocks/content-block/__two-columns/content-block__two-columns.css');
@import url('../blocks/content-block/__icon-check/content-block__icon-check.css');
@import url('../blocks/content-block/__icon-circulation/content-block__icon-circulation.css');
@import url('../blocks/content-block/__icon-hourglass/content-block__icon-hourglass.css');
@import url('../blocks/content-block/__wrapper-row/content-block__wrapper-row.css');
@import url('../blocks/content-block/__wrapper-description/content-block__wrapper-description.css');