.button__arrow_circle-orang {
  width: 176px;
  background-image: url('../../../../images/icons/circulation_orng.svg');
  background-repeat: no-repeat;
  background-position: 25px center;
  border: 1.2px solid #E6E7EB;
  padding: 12px 24px 12px 56px;
}