.sidebar {
    background: #ffffff;
    box-sizing: border-box;
    max-width: 424px;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 0 4px rgba(231, 232, 235, 0.6), 0 4px 16px rgba(231, 232, 235, 0.6);
}

@media screen and (max-width: 1400px) {
    .sidebar {
        margin-top: 24px;
        max-width: 100%;
        width: 100%;
    }
}

