.form__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__input:checked + .form__checkbox {
    background-image: url(../../../images/icons/checkbox-rectangle-orange.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.form__input:checked + .form__radio {
    background-image: url(../../../images/icons/radio-circle-orange.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.form__input:disabled + .form__radio {
    border: 1px solid grey;
}

.form__input:disabled:checked + .form__radio {
    background-image: url(https://code.s3.yandex.net/web-code/plane_grey.svg);
}


