.card-list__overlay {
	width: 100%;
	max-height: 240px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6),
		0px 4px 16px rgba(231, 232, 235, 0.6);
	border-radius: 16px;
	overflow: hidden;
	text-decoration: none;
	color: #212329;
	z-index: 1;
	transition-property: box-shadow;
	transition-timing-function: linear;
	transition-duration: 0.3s;
}

.card-list__overlay:hover {
	cursor: pointer;
	box-shadow: 1px 1px 5px 1px #e6e7eb;
}

@media (max-width: 1320px) {
	.card-list__overlay {
		max-height: max-content;
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: minmax(320px, auto);
		gap: 24px;
	}
}

@media (max-width: 1024px) {
	.card-list__overlay {
		gap: 12px;
	}
}

@media (max-width: 768px) {
	.card-list__overlay {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
