.button {
  box-sizing: border-box;
  width: 184px;  
  background-color: var(--white);
  color: var(--white);
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s, border 0.3s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.6;
  border: 1.2px solid var(--orange);
}

@media (max-width: 400px) {
  .button {
    height: 48px;
  }
}
