  .button {
    width: 184px;
    height: 48px;
    background-color: var(--white);
    color: var(--white);
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }