  .button {
    width: 184px;
    height: 48px;
    background-color: #fff;
    color: #fff;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  .button:first-child {
    margin-right: 24px;
  }

  .button:last-child {
    margin-right: 32px;
  }

  @media (max-width: 430px) {
    .button:first-child {
      margin-right: 0;
      margin-bottom: 24px;
    }

    .button:last-child {
      margin-right: 0;
    }
  }