.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 24px 0 0 0;
}

@media (max-width: 430px) {
    .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}