.button__arrow_back-white {
  background-image: url('../../../../images/icons/');
  background-repeat: no-repeat;
  background-position: 50px center;
  border: 1.2px solid #E6E7EB;
  padding: 12px 48px 12px 80px;
}